/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

article {
  margin: 20px 0;
  padding: 20px;
  border: solid black;
}

.style-me1 {
  color: red;
}

#style-me2 {
  color: blue;
}

.style-me1#style-me2 {
  color: blueviolet;
}

p {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}

.my-descendants-are-styled p {
  background-color: red;
}

.my-children-are-styled p {
  background-color: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

main {
  max-width: 80%;
  margin: 1em auto;
}

.box {
  border-radius: 20px !important;
  border-radius: 50% !important;
  width: 20vw;
  height: 20vh !important;
  border: 10px solid rgb(255, 0, 255);
  margin: 20px 10px 30px 15px;
  padding: 15px 10px;
  margin: 10px;
  padding: 5%;
  box-sizing: border-box;
  overflow-y: scroll;
  outline: 10px solid rgb(153, 0, 255);
  background-image: url(./assets/images/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center !important;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 54, 218, 0.5);
}

.position-relative {
  position: relative;
  background-color: rgba(242, 0, 255, 0.5);
}

.position-sticky {
  position: sticky;
  top: 10px;
  background-color: rgba(250, 93, 255, 0.5);
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {
  color: #5a0251;
  font-family: "Grey Qo";
  font-weight: bolder;
  font-style: normal;
  font-size: larger;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  text-decoration: none;
  line-height: 50px;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */

a,
a:link {
  color: rgb(198, 164, 255);
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #b200ff;
  text-decoration: dashed;
}

a:active {
  color: aliceblue;
  text-decoration: dotted;
}

a:focus {
  color: aqua;
  text-decoration: wavy;
}
/* 
a:visited {
  color: rgb(120, 120, 130);
  font-style: italic;
} */

/* VI. calc() */
/* Put styles for questions 1-3 here */

.calc-style {
  width: 100vw;
  width: calc(100vw - 100px);
  background-color: #e787ff;
}

.fixed-width-col {
  width: 350px;
  display: inline-block;
}

.fluid-col {
  width: calc(100% - 350px);
  display: inline-block;
}
