body {
  font-family: Arial, sans-serif;
  background: radial-gradient(
    rgb(70, 43, 87),
    rgb(100, 55, 114),
    rgb(76, 45, 75),
    rgb(92, 81, 93)
  );
  color: #151414;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.sidebar {
  flex: 0 1 300px;
  background: #ffffff5f;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.15);
}

.profile-picture {
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #333;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar h1 {
  margin-top: 20px;
}

.sidebar p {
  color: #222020;
}

.personal-info {
  margin-top: 20px;
}

.personal-info h3 {
  margin-bottom: 10px;
}

.personal-info p {
  margin-bottom: 5px;
}

.resume {
  flex: 2;
  background: #ffffff5f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.15);
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin-bottom: 10px;
}

.header p {
  color: #666;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.education,
.experience {
  display: flex;
  flex-direction: column;
}

.edu-item,
.exp-item {
  margin-bottom: 10px;
}

.edu-item h3,
.exp-item h3 {
  margin-bottom: 5px;
}

.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #fff;
}

.skills li {
  background: #505050;
  padding: 5px 10px;
  border-radius: 5px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  font-size: 0.875rem;
}

@media (max-width: 800px) {
  .resume {
    display: none;
  }

  .container {
    flex-direction: column;
  }
  .sidebar {
    margin-right: 0;
    background-color: #ffffff5f;
  }
}
